body {
  font-family: "Roboto", sans-serif;
  padding-left: 0.5rem;
}

table, th, td {
  border: 1px solid;
}

#security-statement-overlay {
  background-color: white;
  border: 2px solid #ccc;
  padding: 20px;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  display: block;
  position: relative;
  top: 20px;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 90%; 
  max-width: none; 
  overflow: hidden; 
}


#security-statement-heading {
  font-weight: 600;
  position: absolute;
  top: 17.5%;
  left: 50%;
  font-size: 48px;
  color: black; 
  /* transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

#security-statement-body {
  font-weight: 600;
  position: absolute;
  top: 45%;
  left: 50%;
  font-size: 24px;
  color: black; /* Changed to black */
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#upload-file-label {
  font-size: small;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

#upload-file-label:hover {
  background-color: #f0f0f0;
}

#upload-file-button {
  background-color: green;
  font-size: small;
  color: white;
  border: 1px solid green;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

#upload-file-button:disabled {
  background-color: white;
  color: #a0a0a0;
  border: 1px solid #a0a0a0;
  cursor: not-allowed;
}

#conversion-history-table {
  width: 33%;
  text-align: center;
}
